# Node
node_modules
.pnpm-store

# Turbo
.turbo

# Build outputs
dist
.next
out
coverage
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
.idea

docs